
@{
    ViewData["Title"] = "NotFound";
}


<div style="text-align: center; padding: 100px;">
    <h1 style="font-size: 60px;">404</h1>
    <h2>Oops! Page not found.</h2>
    <p>The page you're looking for doesn't exist.</p>
    <a href="/" style="color: #007bff; text-decoration: underline;">Back to Home</a>
</div>


